html, body {
  background: white;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background: #fff;
  width: 900px;
  height: 600px;
  border-radius: 24px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-container {
/*   border: 1px solid blue; */
  width: 50%;
  height: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-container {
  height: 90%;
  width: 300px;
}

.contact-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.form-header {
  font-size: 2em;
  font-weight: 700;
  align-self: flex-start;
}

.email-input {
  border: none;
  outline: none;
  background: #eee;
  padding: 20px;
  border-radius: 6px;
  width: 100%;
  font-size: 100%;
}

.message {
  border: none;
  outline: none;
  resize: none;
  background: #eee;
  padding: 20px;
  border-radius: 6px;
  width: 100%;
  font-size: 100%;
}

.submit {
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  padding: 20px;
  background: #8870FF;
  font-size: 100%;
  font-weight: 600;
  border-radius: 6px;
  transition: transform 300ms 0s cubic-bezier(0, 0.23, 0.29, 2.45);
}

.submit:hover {
  cursor: pointer;
  background: #7F69EE;
  transform: translateY(-2px);
}