         .contact-form {
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 45vw;

        }
        .contact-form h2 {
            margin-bottom: 40px;
            font-size: 24px;
            color: #28a745; /* Green color for "Contact Us" */
        }
        .contact-form label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        .contact-form input, .contact-form textarea {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid #444;
            border-radius: 5px;

            color: black;
        }
        .contact-form button {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            cursor: pointer;

        }
