 body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            ;
        }
        #reaction-time {
            text-align: center;
            margin-bottom: 50px;
        }
        #reaction-time h2 {
            font-size: 36px;
            margin-bottom: 20px;
            color: #fffff;
        }
        #reaction-time button {
            padding: 14px 30px;
            font-size: 18px;
            margin-top: 20px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.2s;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
        #reaction-time button:hover {
            background-color: #45a049;
            transform: scale(1.08);
        }
        #reaction-time p {
            font-size: 24px;
            margin-top: 20px;
            color: #45a047;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
        .card {

            border: 1px solid #ddd;
            border-radius: 12px;
            width: 300px;
            padding: 30px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: 20px;
            transition: transform 0.3s, box-shadow 0.3s;


        }
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        }
        .card img {
            max-width: 100%;
            border-radius: 12px 12px 0 0;
            transition: transform 0.3s;
        }
        .card:hover img {
            transform: scale(1.05);
        }
        .card h2 {
            font-size: 1.5em;
            margin: 20px 0;
            color: #fffff;
            ;
        }
        .card p {
            font-size: 1.1em;
            color: #666;
        }