<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
    <header>MedicSite</header>
    <ul>
     <li><a href="{{ url_for('news') }}"><i class="fas fa-newspaper"></i>News</a></li>
     <li><a href="{{ url_for('meddit') }}"><i class="fas fa-link"></i>Meddit</a></li>
     <li><a href="{{ url_for('locator') }}"><i class="fas fa-map"></i>Locator</a></li>
     <li><a href="{{ url_for('skincancer') }}"><i class="fas fa-hand-holding-medical"></i>Skin Cancer</a></li>
     <li><a href="{{ url_for('lungcancer') }}"><i class="far fa-lungs"></i>Lung Cancer</a></li>
     <li><a href="{{ url_for('breastcancer') }}"><i class="fas fa-ribbon"></i>Breast Cancer</a></li>
     <li><a href="{{ url_for('contact') }}"><i class="far fa-envelope"></i>Contact</a></li>
     <li><a href="{{ url_for('about') }}"><i class="far fa-question-circle"></i>About</a></li>
    </ul>
   </div>
   <section></section>
  </body>
</html>