<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MedicSite</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen w-screen overflow-hidden">
  <div class="" style="font-family:sf">
  <nav>
    <div class="">
      <h2 class="text-xl">MedicSite</h2>
    </div>
    <div class="nav-items">
      <ul class="overview">
        <li class="nav-item"><a href="{{ url_for('test') }}" class="nav-link">Online Test</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('skincancer') }}">Skin Cancer</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('lungcancer') }}">Lung Cancer</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('breastcancer') }}">Breast Cancer</a></li>
        <li class="nav-item"><a href="{{ url_for('news') }}" class="nav-link">News</a></li>
        <li class="nav-item"><a href="{{ url_for('meddit') }}" class="nav-link">Meddit</a></li>
        <li class="nav-item"><a href="{{ url_for('locator') }}" class="nav-link">Locator</a></li>
        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>

      </ul>
    </div>
  </nav>

    </div>
  </div>
  </body>

</html>