<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-black text-white">
<nav class="navbar navbar-expand-lg bg-black border-bottom" data-bs-theme="dark">
  <div class="container-fluid">
       <a class="navbar-brand" href="{{ url_for('about') }}">MedicSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     <li class="nav-item"><a href="{{ url_for('news') }}" class="nav-link">News</a></li>
     <li class="nav-item"><a href="{{ url_for('meddit') }}" class="nav-link">Meddit</a></li>
     <li class="nav-item"><a href="{{ url_for('locator') }}" class="nav-link">Locator</a></li>
     <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{ url_for('test') }}" class="nav-link">Online Test</a></li>

            <li class="nav-item"><a class="nav-link" href="{{ url_for('skincancer') }}">Skin Cancer</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('lungcancer') }}">Lung Health</a></li>

     <li class="nav-item"><a href="{{ url_for('chat') }}" class="nav-link">Chatbot</a></li>

    </ul>
   </div>
      </div>
</nav>
    <div style="padding-left:50px;padding-right:50px" >
   <section>
       <center>
    <h1>Health Headlines </h1>
           </center>
        {% for i in range(0,len,4) %}
       <div class="row row-cols-1 row-cols-md-4 g-4 " style="padding-top:20px;">
  <div class="col">
      <a href = "{{ articles[i]['url'] }}" style="text-decoration:none;">
    <div class="card text-bg-dark card border-light"style="height: 30rem;">
      <img src="{{ articles[i]['urlToImage']}}" class="card-img-top" alt="..." style="object-fit: cover; height:225px">
      <div class="card-body">
        <h5 class="card-title">{{ articles[i]['title']}}</h5>
        <p class="card-text">{{ articles[i]['description']}}</p>
      </div>
    </div>
      </a>
  </div>
  <div class="col">
      <a href = "{{ articles[i+1]['url'] }}" style="text-decoration:none;">
    <div class="card text-bg-dark card border-light"style="height: 30rem;">
      <img src="{{ articles[i+1]['urlToImage']}}" class="card-img-top" alt="..." style="object-fit: cover; height:225px">
      <div class="card-body">
        <h5 class="card-title"> {{ articles[i+1]['title']}}</h5>
        <p class="card-text">{{articles[i+1]['description']}}</p>
      </div>
    </div>
      </a>
  </div>

  <div class="col">
      <a href = "{{ articles[i+2]['url'] }}" style="text-decoration:none;">
    <div class="card text-bg-dark card border-light"style="height: 30rem;">
      <img src="{{ articles[i+2]['urlToImage']}}" class="card-img-top" alt="..." style="object-fit: cover; height:225px">
      <div class="card-body">
        <h5 class="card-title"> {{ articles[i+2]['title']}}</h5>
        <p class="card-text">{{ articles[i+2]['description']}}</p>
      </div>
    </div>
      </a>
  </div>

  <div class="col">
      <a href = "{{ articles[i+3]['url'] }}" style="text-decoration:none;">
    <div class="card text-bg-dark card border-light"style="height: 30rem;">
      <img src="{{ articles[i+3]['urlToImage']}}" class="card-img-top" alt="..." style="object-fit: cover; height:225px">
      <div class="card-body">
        <h5 class="card-title"> {{ articles[i+3]['title']}}</h5>
        <p class="card-text">{{ articles[i+3]['description']}}</p>
      </div>
    </div>
      </a>
  </div>
       </div>
        {% endfor %}
   </section>
        </div>
  </body>
</html>