<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Audio</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="sidebar">
    <header>MedicSite</header>
    <ul>
     <li><a href="{{ url_for('news') }}"><i class="fas fa-newspaper"></i>News</a></li>
     <li><a href="{{ url_for('meddit') }}"><i class="fas fa-link"></i>Meddit</a></li>
     <li><a href="{{ url_for('locator') }}"><i class="fas fa-map"></i>Locator</a></li>
     <li><a href="{{ url_for('skincancer') }}"><i class="fas fa-hand-holding-medical"></i>Skin Cancer</a></li>
     <li><a href="{{ url_for('lungcancer') }}"><i class="far fa-lungs"></i>Lung Cancer</a></li>
     <li><a href="{{ url_for('breastcancer') }}"><i class="fas fa-ribbon"></i>Breast Cancer</a></li>
     <li><a href="{{ url_for('contact') }}"><i class="far fa-envelope"></i>Contact</a></li>
     <li><a href="{{ url_for('about') }}"><i class="far fa-question-circle"></i>About</a></li>
        <li><a href="{{ url_for('test') }}"><i class="far fa-vial"></i>Online Test</a></li>
    </ul>
   </div>
<div class="upload-container">
    <div class="container">
        <h1>Record Audio</h1>
        <form action="/record_audio" method="post">
            {% for step, duration in recording_durations.items() %}
                <div class="form-group">
                    <label>{{ step }}</label>
                    <button type="submit" class="btn btn-primary" name="audio_step" value="{{ step }}">{{ duration }} seconds</button>
                </div>
            {% endfor %}
        </form>
    </div>
    </div>
</body>
</html>
